#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	npm install
	npm run make

override_dh_auto_clean:
	rm -rf node_modules
	rm -rf out

override_dh_auto_install:
	dh_auto_install
	mkdir -p debian/voice-studio-app/usr/share/applications
	mkdir -p debian/voice-studio-app/usr/share/voice-studio-app
	cp -r out/make/deb/x64/* debian/voice-studio-app/usr/share/voice-studio-app/ 